.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mintcream;
}

.centro {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    text-align: center;
}