.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mintcream;
}

.centro {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    margin-top: 3rem;
    text-align: center;
}

.galeria{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: mintcream;
}

.fileira{
    display: flex;
    align-items: center;
    justify-content: center;
}

.segunda{
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-galeria{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 150px;
    height: 100px;
    margin: 10px;
}

.galeria-img{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 150px;
    height: 100px;
    margin: 10px;

}

.carousel {
    display: flex;
    margin-top: 50px;
    background-color: gainsboro;
}


.footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
}

.paragrafo {
    text-align: center;
}